html {
    height: 100%;
}

body {
    background: url('/media/gym.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 70vh;
    color: black;
    font-family: "Playfair", sans-serif;
    font-weight: 400;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    letter-spacing: 5px;
    font-weight: 800;
}
.bannerTop {
    font-size: medium;
    font-style: normal;
    color: yellow;
    word-spacing: 5px;
    letter-spacing: 5px;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}
.bg-black {
    background-color: #000 !important;
}
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}
.card-img-top {
    height: 250px;
    width: 300px;
}
.product_name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
  .header-container {
    padding-top: 300px;
}
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) and (max-width:1999px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 280px;
    }
}
@media (min-width: 600px) and (max-width: 992px) {
    .header-container {
        padding-top: 170px;
    }
    body{
        height: calc(100vh - 160vh);
    }
}
/* pad the top a bit when navbar is collapsed on mobile */
@media (min-width: 200px) and (max-width: 600px){
    .header-container {
        padding-top: 160px;
    }
    body{
        height: calc(100vh - 160vh);
    }
}