<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-secondary mr-5" href="{% url 'home' %}" id="home-link"  aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-secondary mr-5" href="{% url 'about' %}" id="about-link"  aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-secondary mr-5" href="{% url 'membership_list' %}" id="membership-link"  aria-haspopup="true" aria-expanded="false">
                Membership Offers
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-secondary mr-5" href="{% url 'class_schedule' %}" id="classess-link"  aria-haspopup="true" aria-expanded="false">
                Fitness Classes
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-secondary mr-5" href="{% url 'products' %}" id="product-link" aria-haspopup="true" aria-expanded="false">
                GoFit Shop
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-secondary" href="{% url 'gallery' %}" id="gallery-link" aria-haspopup="true" aria-expanded="false">
                Facility Gallery
            </a>
        </li>
    </ul>
</div>