<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-secondary mr-5" href="" id="classess-link"  aria-haspopup="true" aria-expanded="false">
                Book Classes
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-secondary mr-5" href="#" id="trainer-link"  aria-haspopup="true" aria-expanded="false">
                Our Trainers
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-secondary mr-5" href="{% url 'products' %}" id="product-link" aria-haspopup="true" aria-expanded="false">
                GoFit Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dropdown-link">
                <a href="{% url 'products' %}?category=Gym Gears" class="dropdown-item">Gym Gears</a>
                <a href="{% url 'products' %}?Exercise Equipments" class="dropdown-item">Exercise Equipments</a>
                <a href="{% url 'products' %}?GoFit Choices" class="dropdown-item">GoFit Choices</a>
                <a href="{% url 'products' %}?Beverages" class="dropdown-item">Beverages</a>
                <a href="{% url 'products' %}?Snack" class="dropdown-item">Snack</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Shopping</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-secondary" href="{% url 'gallery' %}" id="gallery-link" aria-haspopup="true" aria-expanded="false">
                Facility Gallery
            </a>
        </li>
    </ul>
</div>